<div aria-hidden = "true" aria-labelledby = "deleteModalLabel" class = "modal fade" id = "deleteModal" tabindex = "-1" th:fragment = "deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h1 class = "modal-title fs-5" id = "deleteModalLabel">Delete confirmation</h1>
            </div>
            <div class = "modal-body">
                <strong>Do you really want to delete this ?</strong>
            </div>
            <div class = "modal-footer">
                <a class = "btn btn-primary" id = "confirmDelete" type = "button">Yes</a>
                <button class = "btn btn-secondary" data-bs-dismiss = "modal" type = "button">No</button>

            </div>
        </div>
    </div>
</div>