<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Manage Product</title>
</head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Manage Product</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/product">Product</a></li>
                            <li class="breadcrumb-item active">Manage</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form enctype="multipart/form-data" id="customForm" method="post" style="margin: 0 auto"
                                      th:action="@{/product/save}" th:object="${product}">
                                    <input th:field="*{id}" type="hidden">
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label" for="name">Name</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" id="name" maxlength="50" minlength="2" required
                                                   th:field="*{name}" type="text"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label" for="type">Type</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" id="type" maxlength="100" minlength="2"
                                                   th:field="*{type}" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label" for="unit">Unit</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" id="unit" maxlength="100" minlength="2"
                                                   th:field="*{unit}" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label" for="weight">Weight</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" id="weight" maxlength="100" minlength="2"
                                                   th:field="*{weight}" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label" for="size">Size</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" id="size" maxlength="100" minlength="2"
                                                   th:field="*{size}" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label" for="description">description</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" id="description" maxlength="100" minlength="2"
                                                   th:field="*{description}" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label" for="supplier">Supplier</label>
                                        <div class="col-sm-11">
                                            <select class="form-control" id="supplier" required th:field="*{supplier}">
                                                <option disabled selected value="">Choose a Supplier</option>
                                                <option th:each="supplier : ${suppliers}" th:text="${supplier.name}"
                                                        th:value="${supplier.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <h3>Productbom</h3>
                                    <table border="0" cellpadding="10" class="table table-responsive">
                                        <thead id="table-bom" style="display: none">
                                        <th>Select</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                        </thead>
                                        <tbody id="productbom-table">
                                        <tr th:each="productbom, iterStat : ${product.productbomlist}">
                                            <td><input class="select-checkbox" type="checkbox"></td>
                                            <td><input th:field="*{productbomlist[__${iterStat.index}__].name}"
                                                       type="text"/></td>
                                            <td><input th:field="*{productbomlist[__${iterStat.index}__].quantity}"
                                                       type="text"/>
                                            </td>
                                            <td><input th:field="*{productbomlist[__${iterStat.index}__].unit}"
                                                       type="text"/></td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    <div class="actions">
                                        <button class="btn btn-secondary" id="add-new-btn" type="button">Add Row
                                        </button>
                                        <button class="btn btn-danger" id="delete-btn" type="button">Delete</button>
                                        <script>
                                            let rowIndex = document.querySelectorAll("#productbom-table tr").length;
                                            const test = document.getElementById('table-bom');
                                            // if (rowIndex !== 0){
                                            //     test.style.display = "";
                                            // }
                                            document.getElementById('add-new-btn').addEventListener('click', function () {
                                                if (rowIndex === 0) {
                                                    test.style.display = "";
                                                }
                                                const newRow = document.createElement('tr');
                                                newRow.innerHTML = `
        <td><input type="checkbox" class="select-checkbox"></td>
        <td><input type="text" name="productbomlist[${rowIndex}].name" /></td>
        <td><input type="text" name="productbomlist[${rowIndex}].quantity" /></td>
        <td><input type="text" name="productbomlist[${rowIndex}].unit" /></td>
    `;
                                                document.getElementById('productbom-table').appendChild(newRow);
                                                rowIndex++; // Tăng chỉ số sau khi thêm hàng
                                            });

                                            document.getElementById('delete-btn').addEventListener('click', function () {
                                                document.querySelectorAll('.select-checkbox:checked').forEach(function (checkbox) {
                                                    checkbox.closest('tr').remove();
                                                });
                                                rowIndex = document.querySelectorAll('#productbom-table tr').length; // Cập nhật lại số hàng
                                            });

                                        </script>

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-1 form-check-label" for="published">Published</label>
                                        <div class="col-sm-11">
                                            <input id="published" th:field="*{published}" type="checkbox"/>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <input class="btn btn-primary" type="submit" value="Save"/>
                                        <a class="btn btn-secondary" href="/product">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
</body>
</html>