<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layout}" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>[[${title}]] outbound details</title>
    </head>
    <body>
        <section layout:fragment = "content">
            <div class = "content-wrapper">
                <div class = "content-header">
                    <div class = "container-fluid">
                        <div class = "row mb-2">
                            <div class = "col-sm-6">
                                <h1 class = "m-0">[[${title}]] outbound details</h1>
                            </div>
                            <div class = "col-sm-6">
                                <ol class = "breadcrumb float-sm-right">
                                    <li class = "breadcrumb-item"><a href = "/">Home</a></li>
                                    <li class = "breadcrumb-item"><a href = "/outbound">Outbound</a></li>
                                    <li class = "breadcrumb-item">Details</li>
                                    <li class = "breadcrumb-item active">[[${title}]]</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <section class = "content">
                    <div class = "container-fluid">
                        <div th:replace = "~{fragments/message :: message}"></div>
                        <div class = "row">
                            <div class = "col-12">
                                <div class = "card">
                                    <div class = "card-body">
                                        <form method = "post" th:action = "@{'/outbound/' + ${outboundDetailsDTO.outboundId} + '/details/save'}" th:object = "${outboundDetailsDTO}">
                                            <input th:field = "*{id}" type = "hidden">
                                            <input id = "outboundId" th:value = "${outboundDetailsDTO.outboundId}" type = "hidden">

                                            <input th:field = "*{outboundId}" type = "hidden">
                                            <div class = "form-group">
                                                <label for = "warehouseSelect">Warehouse</label>
                                                <select class = "form-control" id = "warehouseSelect" required th:field = "*{warehouseId}">
                                                    <option selected value = "">Select a warehouse</option>
                                                    <option th:each = "warehouse : ${warehouses}" th:text = "${warehouse.address}" th:value = "${warehouse.id}"></option>
                                                </select>
                                                <div th:errors = "*{warehouseId}" th:if = "${#fields.hasErrors('warehouseId')}"></div>
                                            </div>
                                            <div class = "form-group">
                                                <label for = "productSelect">Product</label>
                                                <select class = "form-control" id = "productSelect" required th:disabled = "${outboundDetailsDTO.warehouseId == null}" th:field = "*{productId}">
                                                    <option selected value = "">Select a product</option>
                                                    <option th:each = "stock : ${stockBalance}" th:if = "${outboundDetailsDTO.warehouseId != null}" th:text = "${stock.product.name}" th:value = "${stock.product.id}"></option>
                                                </select>
                                                <div th:errors = "*{productId}" th:if = "${#fields.hasErrors('productId')}"></div>
                                            </div>
                                            <div class = "form-group">
                                                <label for = "quantity">Quantity</label>
                                                <input class = "form-control" id = "quantity" min = "1" required th:field = "*{quantity}" type = "number">
                                                <div th:errors = "*{quantity}" th:if = "${#fields.hasErrors('quantity')}"></div>
                                            </div>
                                            <div class = "form-group">
                                                <label for = "statusSelect">Status</label>
                                                <select class = "form-control" id = "statusSelect" required th:field = "*{status}">
                                                    <option value = "Active">Active</option>
                                                    <option value = "Inactive">Inactive</option>
                                                </select>
                                                <div th:errors = "*{status}" th:if = "${#fields.hasErrors('status')}"></div>
                                            </div>
                                            <div class = "text-center mt-4">
                                                <button class = "btn btn-primary" type = "submit">Save</button>
                                                <a class = "btn btn-secondary" th:href = "@{'/outbound/' + ${outboundDetailsDTO.outboundId}}">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <script>
                console.log(document.getElementById('outboundId').value);
                document.getElementById('warehouseSelect').addEventListener('change', function () {
                    var outboundId = document.getElementById('outboundId').value;
                    var selectedValue = '/outbound/' + outboundId + '/details/new?warehouseId=' + this.value;
                    if (selectedValue !== '/outbound/' + outboundId + '/details/new?warehouseId=') {
                        window.location.href = selectedValue;
                    }
                });
            </script>
        </section>
    </body>
</html>
