<!DOCTYPE html>
<html lang = "en" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th = "https://www.thymeleaf.org">
    <head>
        <meta charset = "utf-8">
        <meta content = "width=device-width, initial-scale=1" name = "viewport">
        <title layout:title-pattern = "$CONTENT_TITLE"></title>
        <link href = "/plugins/fontawesome-free/css/all.min.css" rel = "stylesheet">
        <link href = "/dist/css/adminlte.min.css" rel = "stylesheet">
    </head>
    <body class = "hold-transition sidebar-mini layout-fixed">
        <header th:replace = "~{fragments/navbar :: navbar}"></header>
        <aside th:replace = "~{fragments/sidebar :: sidebar}"></aside>
        <section layout:fragment = "content"></section>
        <footer th:replace = "~{fragments/footer :: footer}"></footer>
        <script src = "/plugins/jquery/jquery.min.js"></script>
        <script src = "/dist/js/adminlte.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var currentPath = window.location.pathname;
                var links = document.querySelectorAll('.nav-link');

                links.forEach(function (link) {
                    if (link.getAttribute('href') === currentPath) {
                        link.classList.add('active');
                    }
                });
            });
        </script>
    </body>
</html>