<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layout}" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Supplier</title>
    </head>
    <body>
        <section layout:fragment = "content">
            <div class = "content-wrapper">
                <div class = "content-header">
                    <div class = "container-fluid">
                        <div class = "row mb-2">
                            <div class = "col-sm-6">
                                <h1 class = "m-0">Supplier - [[${totalItems}]] results</h1>
                            </div>
                            <div class = "col-sm-6">
                                <ol class = "breadcrumb float-sm-right">
                                    <li class = "breadcrumb-item"><a href = "/">Home</a></li>
                                    <li class = "breadcrumb-item active">Supplier</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <section class = "content">
                    <div class = "container-fluid">
                        <div th:replace = "~{fragments/message :: message}"></div>
                        <div class = "row">
                            <div class = "col-12">
                                <div class = "card">
                                    <div class = "card-body">
                                        <div th:replace = "~{fragments/searchForm :: searchForm('supplier')}"></div>
                                        <div th:if = "${suppliers.size() > 0}">
                                            <div class = "table-responsive">
                                                <table class = "table table-hover table-bordered text-center">
                                                    <thead class = "thead-light">
                                                    <tr>
                                                        <th class = "col-1" scope = "col">No.</th>
                                                        <th scope = "col">
                                                            <div th:replace = "~{fragments/sortBtn :: sortBtn('supplier', ${order != '' && order != null ? order : ''}, 'name', ${orderBy}, 'Name')}"></div>
                                                        </th>
                                                        <th scope = "col">
                                                            <div th:replace = "~{fragments/sortBtn :: sortBtn('supplier', ${order != '' && order != null ? order : ''}, 'address', ${orderBy}, 'Address')}"></div>
                                                        </th>
                                                        <th scope = "col">
                                                            <div th:replace = "~{fragments/sortBtn :: sortBtn('supplier', ${order != '' && order != null ? order : ''}, 'phone', ${orderBy}, 'Phone')}"></div>
                                                        </th>
                                                        <th scope = "col">
                                                            <div th:replace = "~{fragments/sortBtn :: sortBtn('supplier', ${order != '' && order != null ? order : ''}, 'email', ${orderBy}, 'Email')}"></div>
                                                        </th>
                                                        <th scope = "col">
                                                            <div th:replace = "~{fragments/sortBtn :: sortBtn('supplier', ${order != '' && order != null ? order : ''}, 'status', ${orderBy}, 'Status')}"></div>
                                                        </th>
                                                        <th class = "col-2" scope = "col">Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each = "supplier, iterStat : ${suppliers}">
                                                        <th scope = "row">[[${(currentPage - 1) * pageSize + iterStat.count}]]</th>
                                                        <td th:text = "${supplier.name}"></td>
                                                        <td th:text = "${supplier.address}"></td>
                                                        <td th:text = "${supplier.phone}"></td>
                                                        <td th:text = "${supplier.email}"></td>
                                                        <td th:text = "${supplier.status}"></td>
                                                        <td>
                                                            <a class = "btn btn-primary" th:href = "@{'/supplier/info/' + ${supplier.id}}" title = "Detail">
                                                                <i class = "fa-solid fa-info"></i>
                                                            </a>
                                                            <a class = "btn btn-primary" th:href = "@{'/supplier/' + ${supplier.id}}" title = "Edit">
                                                                <i class = "fa-regular fa-pen-to-square icon-dark"></i>
                                                                Edit
                                                            </a>
                                                            <a class = "btn btn-danger" data-bs-target = "#deleteModal" data-bs-toggle = "modal" onclick = "openDeleteModal(event, this.href)" th:href = "@{'/supplier/delete/' + ${supplier.id}}" title = "Delete">
                                                                <i class = "fa-regular fa-trash-can icon-dark"></i>
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <nav th:replace = "~{fragments/pagination :: pagination('/supplier')}"></nav>
                                        </div>
                                        <div th:unless = "${suppliers.size() > 0}">
                                            <span>No suppliers found!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace = "~{fragments/deleteModal :: deleteModal}"></div>
                </section>
            </div>
            <script src = "/js/common.js"></script>
        </section>
    </body>
</html>