<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layout}" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Tutorials</title>
    </head>
    <body>
        <section layout:fragment = "content">
            <div class = "content-wrapper">
                <div class = "content-header">
                    <div class = "container-fluid">
                        <div class = "row mb-2">
                            <div class = "col-sm-6">
                                <h1 class = "m-0">Tutorials</h1>
                            </div>
                            <div class = "col-sm-6">
                                <ol class = "breadcrumb float-right">
                                    <li class = "breadcrumb-item"><a href = "/">Home</a></li>
                                    <li class = "breadcrumb-item active">Tutorials</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <section class = "content">
                    <div class = "container-fluid">
                        <div th:replace = "~{fragments/message :: message}"></div>
                        <div class = "row">
                            <div class = "col-12">
                                <div class = "card">
                                    <div class = "card-body">
                                        <div th:replace = "~{fragments/searchForm :: searchForm('tutorials')}"></div>

                                        <div class = "table-responsive" th:if = "${tutorials.size() > 0}">
                                            <table class = "table table-hover table-bordered">
                                                <thead class = "thead-light">
                                                <tr>
                                                    <th scope = "col">#</th>
                                                    <th scope = "col">Title</th>
                                                    <th scope = "col">Description</th>
                                                    <th scope = "col">Level</th>
                                                    <th scope = "col">Published</th>
                                                    <th scope = "col">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each = "tutorial, iterStat : ${tutorials}">
                                                    <th scope = "row">[[${(currentPage - 1) * pageSize + iterStat.count}]]</th>
                                                    <td>[[${tutorial.title}]]</td>
                                                    <td>[[${tutorial.description}]]</td>
                                                    <td>[[${tutorial.level}]]</td>
                                                    <td>
                                                        <a class = "btn btn-secondary fa-regular fa-square-check" th:href = "@{'/tutorials/' + ${tutorial.id} + '/published/false'}" th:if = "${tutorial.published == true}" title = "Disable this tutorial"></a>
                                                        <a class = "btn btn-success fa-regular fa-square" th:href = "@{'/tutorials/' + ${tutorial.id} + '/published/true'}" th:if = "${tutorial.published == false}" title = "Enable this tutorial"></a>
                                                    </td>
                                                    <td>
                                                        <a class = "btn btn-primary fa-solid fa-info" th:href = "@{'/tutorials/' + ${tutorial.id}}" title = "More details"></a>
                                                        <a class = "btn btn-primary fa-regular fa-pen-to-square icon-dark" th:href = "@{'/tutorials/' + ${tutorial.id}}" title = "Edit this tutorial"></a> &nbsp;
                                                        <a class = "btn btn-danger fa-regular fa-trash-can icon-dark" id = "btnDelete" th:href = "@{'/tutorials/delete/' + ${tutorial.id}}" th:tutorialTitle = "${tutorial.title}" title = "Delete this tutorial"></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div th:unless = "${tutorials.size() > 0}">
                                            <span>No tutorials found!</span>
                                        </div>

                                        <nav th:replace = "~{fragments/pagination :: pagination('tutorials')}"></nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "modal fade text-center" id = "confirmModal">
                        <div class = "modal-dialog">
                            <div class = "modal-content">
                                <div class = "modal-header">
                                    <h5 class = "modal-title">Delete Confirmation</h5>
                                    <button aria-label = "Close" class = "btn-close" data-bs-dismiss = "modal" type = "button"></button>
                                </div>

                                <div class = "modal-body">
                                    <span id = "confirmText">Really?</span>
                                </div>

                                <div class = "modal-footer">
                                    <a class = "btn btn-danger" id = "yesBtn" type = "button">Yes</a>
                                    <button class = "btn btn-secondary" data-dismiss = "modal" type = "button">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <script type = "text/javascript">
                $(document).ready(function () {
                    $(".btn-delete").on("click", function (e) {
                        e.preventDefault();
                        link = $(this);

                        tutorialTitle = link.attr("tutorialTitle");
                        $("#yesBtn").attr("href", link.attr("href"));
                        $("#confirmText").html("Do you want to delete the Tutorial \<strong\>" + tutorialTitle + "\<\/strong\>?");
                        $("#confirmModal").modal();
                    });

                    $("#btnClear").on("click", function (e) {
                        e.preventDefault();
                        $("#keyword").text("");
                        window.location = "[[@{/tutorials}]]";
                    });
                });

                function changePageSize() {
                    $("#searchForm").submit();
                }
            </script>
        </section>
    </body>
</html>