<!DOCTYPE html>
<html lang = "en" layout:decorate = "~{layout}" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Thêm tutorial</title>
    </head>
    <body>
        <section layout:fragment = "content">
            <div class = "content-wrapper">
                <div class = "content-header">
                    <div class = "container-fluid">
                        <div class = "row mb-2">
                            <div class = "col-sm-6">
                                <h1 class = "m-0">Thêm tutorial</h1>
                            </div>
                            <div class = "col-sm-6">
                                <ol class = "breadcrumb float-sm-right">
                                    <li class = "breadcrumb-item"><a href = "/">Trang chủ</a></li>
                                    <li class = "breadcrumb-item"><a href = "/tutorials">Tutorials</a></li>
                                    <li class = "breadcrumb-item active">Thêm</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <section class = "content">
                    <div class = "container-fluid">
                        <div class = "row">
                            <div class = "col-12">
                                <div class = "card">
                                    <div class = "card-body">
                                        <form enctype = "multipart/form-data" id = "customForm" method = "post" style = "margin: 0 auto" th:action = "@{/tutorials/save}" th:object = "${tutorial}">
                                            <input th:field = "*{id}" type = "hidden">
                                            <div class = "form-group row">
                                                <label class = "col-sm-1 col-form-label" for = "title">Title</label>
                                                <div class = "col-sm-11">
                                                    <input class = "form-control" id = "title" maxlength = "128" minlength = "2" required th:field = "*{title}" type = "text"/>
                                                </div>
                                            </div>

                                            <div class = "form-group row">
                                                <label class = "col-sm-1 col-form-label" for = "description">Description</label>
                                                <div class = "col-sm-11">
                                                    <input class = "form-control" id = "description" maxlength = "256" minlength = "2" th:field = "*{description}" type = "text"/>
                                                </div>
                                            </div>
                                            <div class = "form-group row">
                                                <label class = "col-sm-1 col-form-label" for = "level">Level</label>
                                                <div class = "col-sm-11">
                                                    <input class = "form-control" id = "level" min = "1" required step = "1" th:field = "*{level}" type = "number"/>
                                                </div>
                                            </div>

                                            <div class = "form-group row">
                                                <label class = "col-sm-1 form-check-label" for = "published">Published</label>
                                                <div class = "col-sm-11">
                                                    <input id = "published" th:field = "*{published}" type = "checkbox"/>
                                                </div>
                                            </div>

                                            <div class = "text-center">
                                                <input class = "btn btn-primary" type = "submit" value = "Lưu"/>
                                                <a class = "btn btn-secondary" href = "/tutorials">Huỷ bỏ</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </body>
</html>